ng-form(name='form')
  h5 #{__('API base path')}
  .helper
    span #{__('The base path would look like this')}
    i http://domain-name/linshare/webservice/rest
  .configuration-form
    .backend-url-input
      esn-form-group(label=__('Backend'))
        input.form-control(type="url", ng-model="$ctrl.configurations.apiBasePathBackend.value", name="apiBasePathBackend", required)
    .frontend-url-input
      esn-form-group(label=__('Frontend'))
        input.form-control(type="url", ng-model="$ctrl.configurations.apiBasePathFrontend.value", name="apiBasePathFrontend", required)
